body{
    margin:0;
    padding: 0;
    width: 100%;
    font-family: Helvetica;
    min-width: 640px;
}

.container{
    background-color: #ede8e5;
    width: 100%;
    height: 100%;
}
img{
    display: inline-block;
}
a{
    text-decoration: none;
}
p,ul,span{
    margin: 0;
    padding: 0;
}
.top{
    background: rgb(75,193,210);
    color: #ffffff;
    font-size: 23px;
    height: 20.31%;
    clear: both;
    box-shadow:0 3px rgb(223,223,223);
}

.clear{
    clear: both;
}
.clearfix:after{
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.status-bar{
    padding:0.9375% 2.34% 0;
    vertical-align: middle;
    text-align: center;
    line-height: 23px;
    font-weight: 300;
}
.header{
    padding:6.25% 3.91% 4.5%;
    vertical-align: middle;
    text-align: center;
    line-height: 100%;
    font-family: "Adobe Fangsong Std";
}
.status-l{
    float: left;
    /*width: 33.67%;*/
    width: 210px;
}

#Signal{
    float: left;
    margin-top: 3.38%;
    margin-right: 4.83%;
}

#Wifi{
    margin-left:10%;
}
#status-time{
    /*position: absolute;*/
    /*left:42.18%;*/
    font-size: 25px;
}
#battery{
    float: right;
    text-align: right;
    /*width:19.383%;*/
    width: 210px;
}
#battery-img{
    margin-left: 4.2%;
}
.place{
    float: left;
    font-size: 30px;
}

.place p{
    float: left;
}
#header-title{
    font-size: 42px;
    /*position: absolute;*/
    /*left: 36.7%;*/
    display: inline-block;
}
.point{
    float: left;
    margin: 5px 0 0 15px;
}
.search{
    float: right;
    margin-right: 1.2%;
    margin-left: 66px;
}
.navigation{
    background-color: #ffffff;
}
.nav-ul{
    list-style: none;
    font-size: 24px;
    font-family: "Adobe Fangsong Std";
    font-weight: bolder;
    color: #605f5f;
    line-height: 1.5;
    padding-top: 4%;
    margin-left: 1%;
}

.nav-ul-li{
    display:inline-block;
    text-align: center;
    width: 15%;
    height: 15%;
    margin: 2% 4.5% 5% 4.5%;
}

.nav-ul-li a{
    color: #605f5f;
    display: inline-block;
    height: 100px;
    width: 100px;
    border-radius: 50px;
}

.nav-ul-li img{
    width: 55%;
    height: 50%;
    margin-top: 25%;
}
#nav-a{
    background: #438fd3;

}
#nav-a1{
    background: #f75731;
}

#nav-a2{
    background: #f0e383;
}

#nav-a3{
    background: #4bc1d2;
}

#nav-a4{
    background: #545ee3;
}

#nav-a5{
    background: #1abc9c;
}

#nav-a6{
    background: #92a3b3;
}

#nav-a7{
    background: #f75731;
}

#img-more{
    margin-top: 45%;
    width: 50px;
    height: 10px;
}
.store{
    background-color: #ffffff;
    margin-top: 21px;

}
#store-point-img{
    margin: auto 0 auto 71%;
}
.title{
    font-size: 30px;
    padding: 0 0 0 7%;
    border-bottom: 1px solid #e5e5e5;
}

.title h1{
    font-size: 30px;
    margin: 3.05% 0;
    display:inline-block;
}

.item{
    float: left;
    text-align: center;
    font-size: 24px;
    font-family: "Adobe Fangsong Std ";
    font-weight:bold;
    margin: 2.9%;
    width: 27.3%;
}

.item-cont-p{
    margin: 20px auto;
}

.item-cont-sp1{
    color: #ff914e;
    font-size: 34px;
}

.item-cont-sp2{
    color: #ff914e;
    font-size: 20px;
}

.item-cont-sp3{
    color: #27c9b9;
    font-size: 22px;
    text-decoration:line-through ;

}
.r-item{
    padding: 3%;
    border-bottom: 1px solid  #e0e0df;
}
.r-item img{
    float: left;
    width: 29.92%;
}

.r-item-cont{
    float: right;
    font-size: 24px;
    font-family: "Adobe Heiti Std";
    width:67%;
    margin-left: 3%;
}

.r-item-cont p{
    word-wrap: break-word;
    line-height: 1;
    font-weight: 200;
}

.p1,.p3{
    margin: 3% 2%;

}
.p1{
    text-align: start;
}
.p3{
    vertical-align: bottom;
}
.p2{
    margin: 5% 0;
}
.p1 span1{
    font-size: 32px;
    color: #333333;
}
.p1 span2{
    color: #999999;
    float: right;
}
.p2{
    color: #9f9f9f;
    font-weight: lighter;
}
.p3 span1{
    color: #33b8ac;
    font-size: 32px;
}
.p3 span2{
    color: #6d6d6d;
}
.p3 span3{
    color: #999999;
    float: right;
}
.recommend-more{
    text-align: center;
    padding: 8%;
    margin-bottom: 92px;
}
.recommend-more a{
    padding: 20px;
    background:url("../images/more-recommed.png");
    background-size:100% 100% ;
    font-size: 26px;
    color: #37b9ad;
    width:80%;
    height:33%;
    display: inline-block;
    border: none;
}
.footer-ul{
    padding: 5px 0;
    list-style: none;
    font-size: 20px;
    font-family: "Adobe Heiti Std";
    font-weight: bolder;
    color: #605f5f;
    line-height: 1.3;
    text-align: center;
}
.footer{
    position: fixed;
    z-index: 9999;
    width: 100%;
    bottom: 0%;
    background: #d4d4d4;
}
.footer-ul-li{
    width: 23%;
    display: inline-block;
}
.footer-ul-li a{
    display: inline-block;
    color: #969696;
    font-weight: lighter;
}
.footer-ul-li img{
    width: 50px;
    height: 50px;
}

